body{
    background-color: tomato;
}
.cart{
    height: 500px;
    width: 350px;
    background-color:rgb(201, 169, 201);
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(49, 45, 45);
    margin: 25px;
}
img{
    margin-top: 50px;
}
h3{
    color: rgb(240, 143, 45);
}
button{
    background-color: silver;
    width: 50px;
    height: 25px;
    margin: 10px;
    border: none;
}
h2{
    color: rgb(64, 61, 61);
}
h4{
    color: rgb(105, 71, 35);
}
h1{
    margin: 25px;
    background-color: rgb(202, 26, 26);
    height: 50px;
    margin-top: 20px;
    text-shadow: 1px 1px 1px   black;

}